$color-background-main: #f0f3fb;
$color-black: #000;
$color-purple: #ecb9f4;
$color-redish: #ffafa9;
$color-skin: #eed3d1;
$color-white: #fff;
$color-off-white: rgba(255, 255, 255, 0.733);
$color-flash-error: #fe9e9e;
$color-flash-success: #aaffba;
$color-text-background: rgba(19, 19, 19, 0.6);
$color-overlay: rgba(0, 0, 0, 0.9);
