<div class="back__link--container container">
    <a class="back__link" href="/blogs">
        <p class="back__link-text">Sugrįžti atgal</p>
        <%- include('./icons/back-arrow.ejs') %>
    </a>
</div>