<a class="socialmedia-link" href="">
    <%- include('../partials/icons/facebook') %>
</a>
<a class="socialmedia-link" href="">
    <%- include('../partials/icons/twitter') %>
</a>
<a class="socialmedia-link" href="">
    <%- include('../partials/icons/instagram') %>
</a>