<div class="sticky-bar 		
<% if(pageTitle !== 'Koala Blog') { %>
    <%= "sticky-bar--blog" %> 
    <% } %> ">
    <div class="links--container">
        <%- include('./socialmedia-links.ejs') %>
    </div>
</div>