<%- include("partials/header") %>

<main>
	<div class="primary__heading--container container">
		<h1 class="primary__heading">
			Blog articles
		</h1>
		<% if(currentUser && currentUser.isAdmin) { %>
		<a class="button" href="/blogs/new">Pridėti naują įrašą</a>
		<% } %>
	</div>
	<div class="index__article--container container">
		<%- include("partials/index-page/index-article.ejs") %>
		<% if(blogs.length >= 9) { %>
		<%- include("partials/sticky-bar") %>
		<% } %>
	</div>
</main>

<%- include("partials/footer") %>
