<%- include("partials/header") %>

<main>
	<div class="login--container container">
		<h1 class="tertiary__heading">Prisijungimas administratoriui</h1>
		<form action="/login" method="POST" class="login__form">
			<input type="text" name="username" placeholder="Prisijungimo ID" class="login__text-input" required
				oninvalid="this.setCustomValidity('Šis laukas negali būti tuščias')"
				oninput="this.setCustomValidity('')" />
			<input type="password" name="password" placeholder="Slaptažodis" class="login__text-input" required
				oninvalid="this.setCustomValidity('Šis laukas negali būti tuščias')"
				oninput="this.setCustomValidity('')" />
			<button type="submit" class="button">Prisijungti</button>
		</form>
	</div>
</main>

<%- include("partials/footer") %>