<div class="new__comment">
    <h1 class="tertiary__heading">Pridėk naują komentarą</h1>
    <form class="new__comment-form" action="/blogs/<%= blog._id %>/comments" method="POST">
        <div class="new__comment-input--container">
            <label class="new__comment-label">Vardas</label>
            <% if (currentUser) { %>
            <input class="new__comment-input" type="text" name="comment[author]" value="<%= currentUser.username %>"
                required oninvalid="this.setCustomValidity('Komentaro autoriaus vardas yra būtinas')"
                oninput="this.setCustomValidity('')" />
            <% } else { %>
            <input class="new__comment-input" type="text" name="comment[author]" required
                oninvalid="this.setCustomValidity('Komentaro autoriaus vardas yra būtinas')"
                oninput="this.setCustomValidity('')" />
            <% } %>
        </div>
        <div class="new__comment-input--container">
            <label class="new__comment-label">Komentaras</label>
            <textarea class="new__comment-textarea" name="comment[body]" required
                oninvalid="this.setCustomValidity('Komentaro tekstas yra būtinas')"
                oninput="this.setCustomValidity('')"></textarea>
        </div>
        <button class="button" type="submit">Pridėti</button>
    </form>
</div>