<section class="about__author--container container">
	<div class="about__author-text--container">
		<h2 class="tertiary__heading">Apie autorę</h2>
		<p class="about__author-paragraph">
			Phasellus quis nisi sapien. Suspendisse potenti. Aenean sit amet justo nisi. Donec varius in libero eu
			imperdiet. In et porttitor augue. Vivamus blandit euismod egestas.
		</p>
		<p class="about__author-paragraph">
			Praesent ac nulla sapien. Cras nec eleifend enim. Duis pharetra suscipit hendrerit. Suspendisse potenti. In
			scelerisque eu magna in imperdiet.
		</p>
		<p class="about__author-paragraph">
			Nulla sit amet eros fermentum, laoreet sem ac, gravida ante. Pellentesque lacus velit, congue a accumsan ac,
			feugiat in nisi.
		</p>
	</div>
</section>
