<section class="about__virtues--container container">
	<div class="about__virtue--container">
		<svg
			class="about__virtue-icon"
			xmlns="http://www.w3.org/2000/svg"
			width="219.098"
			height="204.485"
			viewBox="0 0 219.098 204.485"
		>
			<path
				id="heart-icon"
				d="M56.609,1031.608c-14.267,0-28.6,4.646-39.488,15.794-21.77,22.3-21.173,56.677,0,78.976l85.944,91.055,85.944-91.055c21.175-22.3,21.769-56.677,0-78.976a56.657,56.657,0,0,0-78.976,0l-6.968,7.434L96.1,1047.4C85.208,1036.254,70.876,1031.608,56.609,1031.608Z"
				transform="translate(6.483 -1023.875)"
				fill="#eed3d1"
				stroke="#000"
				stroke-width="15"
			/>
		</svg>
		<h3 class="about__virtue-heading">Meilė gamtai</h3>
		<p class="about__virtue-paragraph">
			Praesent ac nulla sapien. Cras nec eleifend enim. Duis pharetra suscipit hendrerit.
		</p>
	</div>
	<div class="about__virtue--container">
		<svg
			class="about__virtue-icon"
			xmlns="http://www.w3.org/2000/svg"
			width="201.697"
			height="186.033"
			viewBox="0 0 201.697 186.033"
		>
			<path
				id="book-icon"
				d="M262.049,170.39q4.845,6.9,2.18,15.624l-33.307,109.73a25.017,25.017,0,0,1-9.265,13.02,24.164,24.164,0,0,1-14.837,5.269H95.031q-9.326,0-17.986-6.48a34.022,34.022,0,0,1-12.051-15.927,21.968,21.968,0,0,1-.242-15.382q0-.484.363-3.27t.484-4.481a6.738,6.738,0,0,0-.363-2.6,6,6,0,0,1-.363-2.362,7.531,7.531,0,0,1,.969-2.543,29.632,29.632,0,0,1,2-2.846,29.615,29.615,0,0,0,2-2.846,81.133,81.133,0,0,0,5.45-11.082,65.741,65.741,0,0,0,3.633-11.082,9.45,9.45,0,0,0,.061-3.633,10.639,10.639,0,0,1-.061-3.391,10.151,10.151,0,0,1,2.059-3.391,19.951,19.951,0,0,0,2.059-2.786,74.094,74.094,0,0,0,5.087-11.143,49.569,49.569,0,0,0,3.028-10.9,17.516,17.516,0,0,0-.3-3.876q-.424-2.786.061-3.391a9.715,9.715,0,0,1,2.665-3.694q2.18-2.12,2.665-2.725a49.981,49.981,0,0,0,5.147-10.234,45.9,45.9,0,0,0,3.331-11.688,10.023,10.023,0,0,0-.363-3.088,7.864,7.864,0,0,1-.242-3.21,6.841,6.841,0,0,1,1.09-2.18q.848-1.211,2.18-2.786t2.059-2.543a27.285,27.285,0,0,0,2-3.694q1.029-2.241,1.817-4.239t1.938-4.36a20.835,20.835,0,0,1,2.362-3.876,14.02,14.02,0,0,1,3.21-2.846,8.089,8.089,0,0,1,4.36-1.393,25.123,25.123,0,0,1,5.753.666l-.121.363a33.726,33.726,0,0,1,6.177-1.09h92.169q8.963,0,13.807,6.782t2.18,15.745l-33.186,109.73q-4.36,14.413-8.66,18.591t-15.563,4.178H82.435q-3.27,0-4.6,1.817-1.332,1.938-.121,5.208,2.907,8.478,17.441,8.478H206.942a13.444,13.444,0,0,0,6.782-1.877,8.692,8.692,0,0,0,4.239-5.026L254.3,172.086a19.561,19.561,0,0,0,.606-6.9A16.015,16.015,0,0,1,262.049,170.39Zm-128.867.242a3.155,3.155,0,0,0,.242,2.725,2.642,2.642,0,0,0,2.422,1.151h73.638a5.065,5.065,0,0,0,3.088-1.151,5.41,5.41,0,0,0,2-2.725l2.543-7.751a3.155,3.155,0,0,0-.242-2.725,2.642,2.642,0,0,0-2.422-1.151H140.813a5.065,5.065,0,0,0-3.088,1.151,5.41,5.41,0,0,0-2,2.725ZM123.13,201.638a3.155,3.155,0,0,0,.242,2.725,2.642,2.642,0,0,0,2.422,1.151h73.638a5.065,5.065,0,0,0,3.088-1.151,5.41,5.41,0,0,0,2-2.725l2.543-7.751a3.155,3.155,0,0,0-.242-2.725,2.642,2.642,0,0,0-2.422-1.151H130.76a5.065,5.065,0,0,0-3.088,1.151,5.41,5.41,0,0,0-2,2.725Z"
				transform="translate(-63.478 -128)"
				fill="#2b2b2b"
			/>
		</svg>
		<h3 class="about__virtue-heading">Nuolatinis tobulėjimas</h3>
		<p class="about__virtue-paragraph">
			Praesent ac nulla sapien. Cras nec eleifend enim. Duis pharetra suscipit hendrerit.
		</p>
	</div>
	<div class="about__virtue--container">
		<svg
			class="about__virtue-icon"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="336.612"
			height="195.954"
			viewBox="0 0 336.612 195.954"
		>
			<defs>
				<clipPath id="clip-path">
					<path
						id="Path_513"
						data-name="Path 513"
						d="M47.576,350.565l65.2-99.2H304l62.19,97.72Z"
						transform="translate(-47.576 -251.364)"
					/>
				</clipPath>
				<clipPath id="clip-path-3">
					<path
						id="Path_517"
						data-name="Path 517"
						d="M47.576,350.565l65.2-99.2H304l62.19,97.72Z"
						transform="translate(-47.576 -251.364)"
						fill="#2b2b2b"
					/>
				</clipPath>
			</defs>
			<g id="map-icon" transform="translate(-18.477 -143.16)">
				<g id="map" transform="translate(27.477 230.913)">
					<path
						id="map-background"
						d="M47.576,350.565l65.2-99.2H304l62.19,97.72Z"
						transform="translate(-47.576 -251.364)"
						fill="#fff"
					/>
					<g id="map-line-middle" clip-path="url(#clip-path)">
						<path
							id="Path_512"
							data-name="Path 512"
							d="M179.159,289.412c18.311-4.573,41.982-6.349,56.312,5.923,8.755,7.5,12.912,21.125,23.71,25.171,14.916,5.588,31.968,2.063,47.421,5.923"
							transform="translate(-73.943 -258.32)"
							fill="none"
							stroke="#a8a8a8"
							stroke-linejoin="round"
							stroke-width="3"
						/>
					</g>
					<g id="map-line-top" clip-path="url(#clip-path)">
						<path
							id="Path_514"
							data-name="Path 514"
							d="M291.053,270.611c-5.83-1.456-11.774,2.962-17.784,2.962-6.247,0-11.721-4.409-17.782-5.922-9.585-2.394-19.835,1.223-29.639,0-10.761-1.345-18.457-11.441-28.156-16.288"
							transform="translate(-77.657 -251.364)"
							fill="none"
							stroke="#a8a8a8"
							stroke-linejoin="round"
							stroke-width="3"
						/>
					</g>
					<g id="map-left-continent" clip-path="url(#clip-path-3)">
						<path
							id="Path_516"
							data-name="Path 516"
							d="M237.623,356.331c0-6.105.526-14.219-4.446-17.768-1.658-1.182-3.952-.986-5.928-1.48s-4.364-.179-5.927-1.481c-7-5.827-8.947-18.521-17.784-20.728-7.9-1.975-16.424,9.562-23.71,5.922-2.209-1.1-4.7-2.3-5.928-4.443-.98-1.714-.48-4.007,0-5.922.536-2.141,2.689-3.733,2.963-5.922.253-2.019.265-4.876-1.482-5.922s-3.907,1.228-5.928,1.481c-1.961.244-4.078.693-5.928,0a12.972,12.972,0,0,1-5.928-4.443c-1.183-1.655-.178-4.359-1.482-5.922-1.414-1.695-3.785-2.426-5.928-2.962-1.917-.479-4.077.693-5.928,0a15.108,15.108,0,0,1-5.928-4.441c-1.438-1.676-1.267-4.51-2.964-5.923-11.61-9.666-30.94,2.131-43.717,6.663-19.916,8.1-37.269,25.218-51.126,43.678L27.19,350.409C29,364.871,51.368,368.53,65.72,371.137c23.51,4.27,47.383,6.246,71.133,8.883,35.529,3.944,105.216,14.988,105.216-20.729"
							transform="translate(-43.491 -255.649)"
							fill="#eed9d9"
							stroke="#848484"
							stroke-linejoin="round"
							stroke-width="13"
						/>
					</g>
					<g id="map-right-continent" clip-path="url(#clip-path)">
						<path
							id="Path_518"
							data-name="Path 518"
							d="M395.21,358.646c-3.562-7.117-13.623-8.285-20.746-11.844-6.569-3.281-8.845-12.023-14.819-16.287-6.939-4.952-19.163,1.583-25.193-4.442-4.554-4.551,2.641-14.3-1.482-19.248-4.159-4.987-13.977.812-19.264-2.961a7.614,7.614,0,0,1-2.964-5.922c0-2.207,1.976-3.949,2.964-5.923a63.748,63.748,0,0,0,2.964-5.922c2.78-7.408-5.876-17.106-1.483-23.69,1.224-1.837,4-1.889,5.927-2.962,2.519-1.4,4.94-2.961,11.855-6.663,32.876-7.9,69.9-9.378,90.4,11.1,15.5,15.489,25.193,38.8,25.193,60.7l-1.482,19.248c-4.719,7.544-16.288,8.884-25.193,8.884-15.814,0-31.607-1.481-47.421-1.481"
							transform="translate(-100.309 -250.562)"
							fill="#f7d4e7"
							stroke="#a8a8a8"
							stroke-linejoin="round"
							stroke-width="13"
						/>
					</g>
					<path
						id="border"
						d="M47.576,350.565l65.2-99.2H304l62.19,97.72Z"
						transform="translate(-47.576 -251.364)"
						fill="none"
						stroke="#2b2b2b"
						stroke-linejoin="round"
						stroke-width="18"
					/>
				</g>
				<g id="locator" transform="translate(160.623 149.66)">
					<path
						id="locator-locator"
						d="M242.369,149.66a25.577,25.577,0,0,1,25.816,25.332,25.132,25.132,0,0,1-10.2,20.169l-16.482,62.584L225.5,194.171a25.08,25.08,0,0,1-8.949-19.179A25.579,25.579,0,0,1,242.369,149.66Z"
						transform="translate(-216.551 -149.66)"
						fill="#fff"
						stroke="#000"
						stroke-linejoin="round"
						stroke-width="13"
					/>
					<circle
						id="locator-dot"
						cx="5.923"
						cy="5.923"
						r="5.923"
						transform="translate(18.986 17.585)"
						fill="#2b2b2b"
					/>
				</g>
			</g>
		</svg>
		<h3 class="about__virtue-heading">Pasaulio pažinimas</h3>
		<p class="about__virtue-paragraph">
			Praesent ac nulla sapien. Cras nec eleifend enim. Duis pharetra suscipit hendrerit.
		</p>
	</div>
	<div class="about__virtue--container">
		<svg
			class="about__virtue-icon"
			xmlns="http://www.w3.org/2000/svg"
			width="199.755"
			height="184.409"
			viewBox="0 0 199.755 184.409"
		>
			<path
				id="checkmark-icon"
				d="M240.041,67.8c-8.307-6.434-19.926-4.465-25.976,4.369L127.687,198.544,80.105,147.025a17.781,17.781,0,0,0-26.264-.864,20.565,20.565,0,0,0-.816,27.9s57.809,64.147,66.116,70.581,19.926,4.465,25.976-4.369L244.17,95.409C250.22,86.526,248.348,74.187,240.041,67.8Z"
				transform="translate(-47.968 -64.015)"
				fill="#2b2b2b"
			/>
		</svg>
		<h3 class="about__virtue-heading">Sąžiningumas</h3>
		<p class="about__virtue-paragraph">
			Praesent ac nulla sapien. Cras nec eleifend enim. Duis pharetra suscipit hendrerit.
		</p>
	</div>
</section>
