.back {
	&__link {
		text-decoration: none;
		color: $color-black;
		border: 0.2rem solid $color-black;
		border-radius: 0.3rem;
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding: 0.5rem 0;
		&-text {
			font-size: 4rem;
			text-align: center;
		}
		&--container {
			margin-top: 2rem;
			margin-bottom: 2rem;
			width: 100%;
		}
	}
	&__icon {
		width: 6.3rem;
		height: 6.3rem;
		margin-right: 1rem;
		animation: pulsate-back-arrow 2s ease-out;
		animation-iteration-count: infinite;
	}
	@include medium {
		&__link {
			&-text {
				font-size: 3.5rem;
			}
		}
	}

	@include small {
		&__link {
			&-text {
				font-size: 3rem;
			}
		}
		&__icon {
			width: 5.2rem;
			height: 5.2rem;
			margin-right: 0.1rem;
		}
	}
}
